<div class="c-container">
  <h1>
    <%= t("support.title") %>
  </h1>
  <p>
    <%= t("support.main_text") %>
  </p>
  <p><%= t("support.services") %></p>
  <ul class="default-ul">
    <li><%= t("support.service_code_review") %></li>
    <li><%= t("support.service_extension_development") %></li>
    <li><%= t("support.service_architecture_planning") %></li>
    <li><%= t("support.service_else") %></li>
  </ul>
  <p>
    <%= t("support.service_cta") %>
  </p>
</div>
