<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "site" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/docsearch.js/2.6.3/docsearch.min.css" />
  </head>
  <body>
    <div class="c-site-frame">
      <a class="c-site-frame__skip-link" href="#main"><%= t("site_navigation.skip_link") %></a>
      <%= partial "partials/site_navigation" %>
      <%= yield %>
      <%= partial "partials/site_footer" %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/docsearch.js/2.6.3/docsearch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>
    <%= javascript_include_tag "site" %>
  </body>
</html>
