<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= stylesheet_link_tag "site" %>
    <title><%= page_title %></title>
  </head>
  <body>
    <div id="frame">
      <div class="container">
        <aside>
          <header>
            <h1><%= link_to "Middleman", "/" %></h1>
            <h4>Hand-crafted frontend development</h4>
          </header>

          <nav>
            <ul>
              <% data.nav.each do |g| %>
                <li>
                  <h6><%= g.name %></h6>
                  <ul>
                    <% pages_for_group(g.name).each_with_index do |p, i| %>
                      <li><%= link_to p.title, p.path %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </nav>
          
          <footer>
            <a href="http://www.pledgie.com/campaigns/15807">
              <img src="http://www.pledgie.com/campaigns/15807.png" alt="Click here to lend your support to Middleman">
            </a>
          </footer>
        </aside>
              
        <article id="main" role="main">
          <%= yield %>
          
          <footer>
            <p class="left">
              &copy; 2011&nbsp;
              <a href="http://awardwinningfjords.com">Thomas Reynolds</a>.
            </p>
            <p class="right"><%= link_to "Fork and edit this guide on Github", edit_guide_url %></p>
          </footer>
        </article>
      </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.7.2.js"><\/script>')</script>

    <%= javascript_include_tag "site" %>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-90027-21']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();
    </script>
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ef39d56613f5d017b000004');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>