<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Questrial|Arvo" %>
    <title><%= page_title %></title>
  </head>
  <body>
    <%= yield %>

    <footer id="footer">
      <div class="container">
        <p class="copyright">
          &copy; 2011 <a href="http://awardwinningfjords.com">Thomas Reynolds</a>.
        </p>
        <p class="link"><%= link_to "Fork and edit this guide on Github", edit_guide_url %></p>
      </div>
    </footer>
    
    <%= javascript_include_tag "highlight.pack" %>
    <%= stylesheet_link_tag "solarized_light" %>
    <script>hljs.initHighlightingOnLoad();</script>

    <%= partial 'layouts/tracking' %>
  </body>
</html>