<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= gzip_css_on_build "site" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Questrial|Arvo" %>
    <title><%= page_title %></title>
  </head>
  <body>
    <!-- BuySellAds Ad Code -->
    <script type="text/javascript">
    (function(){
      var bsa = document.createElement('script');
         bsa.type = 'text/javascript';
         bsa.async = true;
         bsa.src = 'http://s3.buysellads.com/ac/bsa.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
    })();
    </script>
    <!-- End BuySellAds Ad Code -->

    <%= yield %>
    
    <footer id="footer">
      <div class="container">
        <p class="copyright">
          &copy; 2011-2013 <a href="http://awardwinningfjords.com">Thomas Reynolds</a>.
        </p>
        <p class="link"><%= link_to "Fork and edit this guide on Github", edit_guide_url %></p>
      </div>
    </footer>
    
    <%= gzip_js_on_build "highlight.pack" %>
    <%= gzip_css_on_build "solarized_light" %>
    <script>hljs.initHighlightingOnLoad();</script>


    <script src='https://spacebox.io/embed/js/embed-v1.js'></script>
    <%= partial 'layouts/tracking' %>
  </body>
</html>