<section class="logos">
  <div class="wrap-container">
    <h4 class="contributions-title centered-content">
      <%= t("community.built_using_middleman") %>
    </h4>
    <article class="logo-block">
      <ul>
        <li>
          <%= image_tag("/images/basho_logo.png", alt: "basho")%>
        </li>
        <li>
          <%= image_tag("/images/mailchimp_logo.png", alt: "mailchimp")%>
        </li>
        <li>
          <%= image_tag("/images/thoughtbot_logo.png", alt: "thoughtbot")%>
        </li>
        <li>
          <%= image_tag("/images/funio_logo.png", alt: "funio")%>
        </li>
      </ul>
      <ul class="centered-content">
        <li class="community-social-link-item">
        <%= link_to t("index.see_middleman_sites"),
          "#{locale_prefix}/community/built-using-middleman/", class:
          "community-social-link" %>
        </li>
      </ul>
    </article>
  </div>
</section>
