<section class="logos">
  <div class="wrap-container">
    <h2 class="contributions-title centered-content">
      <%= t("community.built_using_middleman") %>
    </h2>

    <div class="logo-block">
      <ul>
        <li>
          <%= image_tag("/images/vox-media-logo.svg", alt: "Vox Media")%>
        </li>
        <li>
          <%= image_tag("/images/mailchimp-logo.svg", alt: "MailChimp")%>
        </li>
        <li>
          <%= image_tag("/images/thoughtbot-logo.svg", alt: "thoughtbot")%>
        </li>
      </ul>

      <% link_to("#{locale_prefix}/community/built-using-middleman/", class: "community-social-link") do %>
        <%= t("index.see_middleman_sites") %>
        <span class="visually-hidden"><%= t("index.use_cases") %></span>
      <% end %>
    </div>
  </div>
</section>
