<footer class="site-footer" role="contentinfo">
  <div class="container">

    <p class="site-copyright">
      &copy; 2011&ndash;<%= Date.today.year %> <%= link_to "Thomas Reynolds", "//awardwinningfjords.com" %>
    </p>

    <p>
      Maintained by the <%= link_to "core team",
        "//github.com/orgs/middleman/people" %> with help from
        <%= link_to "contributors",
          "//github.com/middleman/middleman/graphs/contributors" %>.
    </p>

    <%= link_to "Twitter", "//twitter.com/middlemanapp" %>
    <%= link_to "GitHub", "//github.com/middleman/middleman" %>

    <p class="site-design-credit">Site proudly designed by</p>
    <%= partial "partials/thoughtbot_logo" %>

  </div>
</footer>
