<nav class="c-site-frame__navigation c-site-navigation" arial-label="<%= t("site_navigation.label") %>">
  <ul class="u-flex">
    <li class="c-site-navigation__item">
      <% link_to("#{locale_prefix}/", class: "c-site-navigation__site-name") do %>
        Middleman
        <span class="visually-hidden"><%= t("site_navigation.home") %></span>
      <% end %>
    </li>

    <li class="c-site-navigation__item">
      <%= link_to(
        t("site_navigation.support"),
        "#{locale_prefix}/support/",
      ) %>
    </li>

    <li class="c-site-navigation__item">
      <%= link_to(
        t("site_navigation.community"),
        "#{locale_prefix}/community/",
      ) %>
    </li>

    <li class="c-site-navigation__item">
      <%= link_to(
        t("site_navigation.docs"),
        "#{locale_prefix}/basics/install/",
      ) %>
    </li>
  </ul>
</nav>
