<footer class="c-site-frame__footer c-site-footer" role="contentinfo">
  <p>
    &copy; 2011&ndash;<%= Date.today.year %>
    <%= link_to "Thomas&nbsp;Reynolds", "//awardwinningfjords.com" %>
  </p>

  <p>
    <%= t("footer.maintained") %>
  </p>

  <ul>
    <li>
      <%= link_to t("built.twitter"), "https://twitter.com/middlemanapp" %>
    </li>
    <li>
      <%= link_to t("built.github"), "https://github.com/middleman/middleman" %>
    </li>
  </ul>
</footer>
