<footer class="footer" data-waypoint="footer" role="contentinfo">
  <div class="wrap-container">
    <div class="footer-column">
      <article class="footer-site-information">
        <p>
          &copy; 2011&ndash;<%= Date.today.year %> <%= link_to "Thomas Reynolds", "//awardwinningfjords.com" %>
        </p>
        <p class="footer-open-source-credit">
          Maintained by the <%= link_to "core team",
            "//github.com/orgs/middleman/people" %> with help from
            <%= link_to "contributors",
              "//github.com/middleman/middleman/graphs/contributors" %>.
        </p>
      </article>
      <article class="footer-contact">
        <ul class="footer-contact-list">
          <li class="footer-contact-list-item twitter-link">
            <%= link_to t("built.twitter"), "//twitter.com/middlemanapp" %>
          </li>
          <li class="footer-contact-list-item github-link">
            <%= link_to t("built.github"), "//github.com/middleman/middleman" %>
          </li>
        </ul>
      </article>
    </div>
    <div class="footer-column footer-right">
      <p class="footer-credit">Site proudly designed by</p>
      <span class="footer-thoughtbot-logo"></span>
    </div>
  </div>
</footer>
