---
layout: layout
---

<header class="hero">
  <aside class="top-nav container">
    <h1 class="logo-text"><a href="/"><%= t("index.logo") %></a></h1>
    <nav class="site-nav">
      <ul>
        <li class="site-nav-item">
          <%= link_to "Contribute", "https://github.com/middleman/middleman",
            target: "_blank" %>
        </li>
        <li class="site-nav-item">
          <%= link_to t("index.docs"),
            "#{locale_prefix}/basics/getting-started/", class: "cta" %>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="hero-content container">
    <div class="hero-content-headline">
      <%= link_to image_tag("logos/middleman-logo.svg"), "#{locale_prefix}/",
        class: "headline-content-logo" %>
      <h2 class="hero-headline"><%= t("index.headline") %></h2>
      <div class="hero-description">
        <h3 class="hero-description-item">
          <%= t("index.description.first") %>
        </h3>
        <h3 class="hero-description-item">
          <%= t("index.description.second")%>
        </h3>
        <h3 class="hero-description-item">
          <%= t("index.description.third")%>
        </h3>
      </div>
    </div>
    <div class="hero-banner-container container">
      <div class="browser">
<pre class="browser-body">
<code>$ gem install middleman</code>
</pre>
      </div>
    </div>
  </div>
</header>

<section role="main">
  <div id="install">
    <div id="search">
      <form>
        <input type="text" id="st-search-input" class="st-search-input" placeholder="Search the documentation" />
      </form>
      <div id="st-results-container"></div>
      <script type="text/javascript">
        var Swiftype = window.Swiftype || {};
        (function() {
          Swiftype.key = 'q3qjGN5LmX2oq6w1V47y';
          Swiftype.inputElement = '#st-search-input';
          Swiftype.resultContainingElement = '#st-results-container';
          Swiftype.attachElement = '#st-search-input';
          Swiftype.renderStyle = "overlay";

          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.async = true;
          script.src = "//swiftype.com/embed.js";
          var entry = document.getElementsByTagName('script')[0];
          entry.parentNode.insertBefore(script, entry);
        }());
      </script>
    </div>
  </div>

  <div class="container">
    <p class="intro"><%= t("index.description") %> <%= link_to t("index.getting_started"), "#{locale_prefix}/basics/getting-started/" %>.</p>
  </div>
</section>

<%= partial "example-sites" %>
