<div class="wrap-container">
  <section class="introduction">
    <div class="introduction-container">
      <div class="introduction-item second-graphic">
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-browser browser">
            <pre class="introduction-browser-body browser-body">
              <code class="browser-code"><span class="variable">$</span> <span class="identifier">middleman init project</span></code>
            </pre>
          </div>
        </div>
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.first.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.first.description") %>
          </p>
          <p class="introduction-item-text">
          <%= link_to t("introduction.first.link_text"),
            "#{locale_prefix}/basics/install/", class: "cta-link-body" %>
          </p>
        </div>
      </div>

      <div class="introduction-item third-graphic">
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.second.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.second.description") %>
          </p>
          <p class="introduction-item-text">
          <%= link_to t("introduction.second.link_text"),
            "#{locale_prefix}/advanced/configuration",
              class: "cta-link-body" %>
          </p>
        </div>
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-browser browser">
            <div class="introduction-browser-body">
              <div class="browser-text-editor">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="introduction-item fourth-graphic">
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-browser browser">
            <div class="introduction-browser-body introduction-browser-window browser-body">
            </div>
          </div>
        </div>
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
            <%= t("introduction.third.header") %>
          </h4>
          <p class="introduction-item-text">
            <%= t("introduction.third.description") %>
          </p>
          <p class="introduction-item-text">
          <%= link_to t("introduction.third.link_text"),
            "#{locale_prefix}/basics/build-and-deploy", class:
            "cta-link-body" %>
          </p>
        </div>
      </div>
    </div>
    <hr>
  </section>
  <section class="community-preview">
    <h4 class="community-title">
      <%= t("community.title") %>
    </h4>
    <h5 class="community-subtitle">
      <%= t("community.subtitle") %>
    </h5>
    <article class="centered-content">
      <%= link_to t("index.contribute"),
        "#{locale_prefix}/community/", class: "community-cta" %>
    </article>
    <hr>
  </section>

  <section class="donate-preview">
    <h4 class="donate-title">
      <%= t("donate.title") %>
    </h4>
    <h5 class="donate-subtitle">
      <%= t("donate.subtitle") %>
    </h5>
    <article class="centered-content">
      <%= link_to t("index.donate"),
        "https://plasso.co/s/4dXbHBorC3", class: "donate-cta", target: "_blank" %>
      <%= link_to t("index.stickers"),
        "http://devswag.com/products/middleman-stickers-4-new", class: "stickers-cta", target: "_blank" %>
    </article>
    <hr>
  </section>

  <%= partial "partials/logos" %>
</div>
