---
layout: layout
---

<%= partial 'partials/site_nav' %>

<header class="" role="banner">
  <div class="container">
    <%= partial 'partials/middleman_logo' %>
    <h2><%= t("index.headline") %></h2>
    <h3><%= t("index.description") %></h3>
    <pre class="">
      <code class="">$ gem install middleman</code>
    </pre>
  </div>
</header>

<main class="screen-main" role="main">
  <div class="container">

    <section class="">
      <div class="">
        <figure class="">
          <pre class="">
            <code class="">$ middleman init project</code>
          </pre>
        </figure>
      </div>
      <div class="">
        <h4 class="">
          <%= t("introduction.first.header") %>
        </h4>
        <p class="">
          <%= t("introduction.first.description") %>
        </p>
        <%= link_to t("introduction.first.link_text"),"#{locale_prefix}/basics/install/", class: "button" %>
      </div>
    </section>

    <section class="">
      <div class="">
        <figure class="">
          <pre class="">
            <code class=""></code>
          </pre>
        </figure>
      </div>
      <div class="">
        <h4 class="">
          <%= t("introduction.second.header") %>
        </h4>
        <p class="">
          <%= t("introduction.second.description") %>
        </p>
        <%= link_to t("introduction.second.link_text"), "#{locale_prefix}/advanced/configuration", class: "button" %>
      </div>
    </section>

    <section class="">
      <div class="">
        <figure class="">
          <pre class="">
            <code class=""></code>
          </pre>
        </figure>
      </div>
      <div class="">
        <h4 class="">
          <%= t("introduction.third.header") %>
        </h4>
        <p class="">
          <%= t("introduction.third.description") %>
        </p>
        <%= link_to t("introduction.third.link_text"), "#{locale_prefix}/basics/build_and_deploy", class: "button" %>
      </div>
    </section>

    <section class="community">
      <h4 class="">
        <%= t("community.title") %>
      </h4>
      <p>
        <%= t("community.subtitle") %>
      </p>
      <%= link_to t("index.contribute"), "#{locale_prefix}/community", class: "button" %>
    </section>

    <section class="companies">
      <%= partial "partials/users" %>
    </section>

  </div>
</main>
