---
layout: layout
---

<%= partial 'partials/global_nav' %>

<div class="body-content-container" role="main">
  <section class="support-preview wrap-container">
    <h1 class="support-main-title">
      <%= t("support.title") %>
    </h1>
    <h5 class="support-subtitle">
      <%= t("support.main_text") %>
    </h5>
    <h5 class="support-subtitle"><%= t("support.services") %></h5>
    <ul class="default-ul">
      <li><%= t("support.service_code_review") %></li>
      <li><%= t("support.service_extension_development") %></li>
      <li><%= t("support.service_architecture_planning") %></li>
      <li><%= t("support.service_else") %></li>
    </ul>
    <h5 class="support-subtitle">
      <%= t("support.service_cta") %>
    </h5>
  </section>
</div>
