---
title: Sites Built Using Middleman
layout: example
published: true
---

<article class="built-with-middleman-block">
  <h2><%= t("built.title") %></h2>
  <ul class="built-with-middleman-list">
    <% for site in data.sites.built.sort_by{ |s| (s.title || URI(s.url).host.sub('www.', '')).downcase } %>
      <%= partial "layouts/site", locals: { site: site } %>
    <% end %>
  </ul>
</article>

<article class="built-with-middleman-block">
  <h2><%= t("built.mobile") %></h2>
  <ul class="built-with-middleman-list">
    <% for site in data.sites.mobile.sort_by{ |s| (s.title || URI(s.url).host.sub('www.', '')).downcase } %>
      <%= partial "layouts/site", locals: { site: site } %>
    <% end %>
  </ul>
</article>

<article class="built-with-middleman-block">
  <h2><%= t("built.blog") %></h2>
  <ul class="built-with-middleman-list">
    <% for site in data.sites.blogs.sort_by{ |s| (s.title || URI(s.url).host.sub('www.', '')).downcase } %>
      <%= partial "layouts/site", locals: { site: site } %>
    <% end %>
  </ul>
</article>
