---
title: Sites Built Using Middleman
published: true
---

<h1><%= t("built.title") %></h1>

<ul class="built-with-middleman-list">
  <% for site in data.sites.built.sort_by{ |s| (s.title || URI(s.url).host.sub('www.', '')).downcase } %>
    <%= partial "layouts/site", locals: { site: site } %>
  <% end %>
</ul>

<h1><%= t("built.mobile") %></h1>

<ul class="built-with-middleman-list">
  <% for site in data.sites.mobile.sort_by{ |s| (s.title || URI(s.url).host.sub('www.', '')).downcase } %>
    <%= partial "layouts/site", locals: { site: site } %>
  <% end %>
</ul>

<h1><%= t("built.blog") %></h1>

<ul class="built-with-middleman-list">
  <% for site in data.sites.blogs.sort_by{ |s| (s.title || URI(s.url).host.sub('www.', '')).downcase } %>
    <%= partial "layouts/site", locals: { site: site } %>
  <% end %>
</ul>

<footer>
  <%= link_to t("built.fork"), "https://github.com/middleman/middleman-guides/blob/master/data/sites.yml" %>
</footer>
