---
title: Sites Built Using Middleman
published: true
---

<h1><%= t("built.title") %></h1>

<ul>
  <% for site in sort_sites(data.sites.built) %>
    <%= partial "layouts/site", locals: { site: site } %>
  <% end %>
</ul>

<h1><%= t("built.mobile") %></h1>

<ul>
  <% for site in sort_sites(data.sites.mobile) %>
    <%= partial "layouts/site", locals: { site: site } %>
  <% end %>
</ul>

<h1><%= t("built.blog") %></h1>

<ul>
  <% for site in sort_sites(data.sites.blogs) %>
    <%= partial "layouts/site", locals: { site: site } %>
  <% end %>
</ul>

<footer>
  <%= link_to t("built.fork"), "https://github.com/middleman/middleman-guides/blob/master/data/sites.yml" %>
</footer>
