---
layout: layout
title: Community
---
<header>
  <div class="container">
    <%= partial "partials/icons/icon_community" %>
    <h1>
      <%= t("community.title") %>
    </h1>
    <p>
      <%= t("community.main_text") %>
    </p>
    <%= link_to "Fork on GitHub", "//github.com/middleman/middleman", class: "button" %>
  </div>
</header>

<main class="screen-main" role="main">
  <div class="container">

    <section>

      <h2>
        <%= t("contributions.title") %>
      </h2>

      <ul>
        <li>
          <%= partial "partials/icons/icon_extensions" %>
          <h3>
            <%= t("contributions.extensions.header") %>
          </h3>
          <p>
            <%= t("contributions.extensions.description") %>
          </p>
          <%= link_to t("contributions.extensions.link_text"), "//directory.middlemanapp.com/#/extensions/all", class: "button" %>
        </li>
        <li>
          <%= partial "partials/icons/icon_project_templates" %>
          <h3>
            <%= t("contributions.templates.header") %>
            </h3>
          <p>
            <%= t("contributions.templates.description") %>
          </p>
          <%= link_to t("contributions.templates.link_text"), "//directory.middlemanapp.com/#/templates/all", class: "button" %>
        </li>
        <li>
          <%= partial "partials/icons/icon_deployment_solutions" %>
          <h3>
            <%= t("contributions.deployment.header") %>
          </h3>
          <p>
            <%= t("contributions.deployment.description") %>
          </p>
          <%= link_to t("contributions.deployment.link_text"), "//directory.middlemanapp.com/#/deployment/all", class: "button" %>
        </li>
      </ul>

    </section>

    <section>
      <img src="/images/community-forum.jpg">
      <h4>
        <%= t("community.forum.header") %>
      </h4>
      <p>
        <%= t("community.forum.description") %>
      </p>
      <%= link_to t("community.forum.link_text"), "//forum.middlemanapp.com", class: "button" %>
    </section>

    <section>
      <%= partial "partials/users" %>
    </section>

  </div>
</main>
