<div class="c-container c-container--narrow">
  <h1>Resources: <%= resource_type %></h1>

  <ol>
    <% data.send(resource_type.to_sym).each do |resource| %>
      <li>
        <h3>
          <a href="<%= resource.url %>"><%= resource.name %></a>
        </h3>

        <% if resource.tags.present? %>
          <ol aria-label="Tags: ">
            <% resource.tags.each do |t| %>
              <li class="c-badge"><%= t.downcase %></li>
            <% end %>
          </ol>
        <% end %>

        <p><%= resource.description %></p>
      </li>
    <% end %>
  </ol>
</div>
