---
layout: base.erb
---

<header id="hero">
  <h1><%= link_to "Middleman", "/", {class: 'logo'} %></h1>
  <h2>makes developing websites simple</h2>
</header>

<section role="main">
  <div id="install">
    <p><b class="console">$ gem install middleman</b></p>
  </div>

  <div class="container">

    <p class="intro">Middleman is a static site generator using all the shortcuts and tools in modern web development. <%= link_to 'Getting started', 'getting-started/welcome' %>.</p>
    <p class="intro sns">
      <span><i class="icon-github"> <%= link_to 'Watch', 'http://github.com/middleman/middleman' %></i></span>
      <span><i class="icon-twitter"> <%= link_to 'Follow @middlemanapp', 'http://twitter.com/middlemanapp' %></i></span>
    </p>

    <nav class="grid">
      <%= partial 'layouts/nav' %>
    </nav>

  </div>  
</section>