<ol>
  <% data.services.each do |f| %>
    <li>
      <a href="<%= f.url %>"><%= f.name %></a>
      <p><%= f.description %></p>
    </li>
  <% end %>
</ol>

<hr>

<ol>
  <% data.templates.each do |f| %>
    <li>
      <a href="<%= f.url %>"><%= f.name %></a>
      <p><%= f.description %></p>
      <% if f.tags.present? %>
      <% f.tags.each do |t| %>
        <p><%= t %></p>
      <% end %>
      <% end %>
    </li>
  <% end %>
</ol>

<hr>

<ol>
  <% data.extensions.each do |f| %>
    <li>
      <a href="<%= f.url %>"><%= f.name %></a>
      <p><%= f.description %></p>
      <% if f.tags.present? %>
      <% f.tags.each do |t| %>
        <p><%= t %></p>
      <% end %>
      <% end %>
    </li>
  <% end %>
</ol>
